{% extends "admin/index.html" %}

{% block content %}
  <div class="module gh-quick-links">
    <h2>Operations shortcuts</h2>
    <div class="gh-quick-grid">
      <a class="button" href="{% url 'admin:uni_services_baseservice_changelist' %}?status__exact=available">Open listings</a>
      <a class="button" href="{% url 'admin:uni_services_baseservice_changelist' %}?status__exact=in_progress">Work in progress</a>
      <a class="button" href="{% url 'admin:support_supportticket_changelist' %}?status__exact=open">Open tickets</a>
      <a class="button" href="{% url 'admin:support_supportticket_changelist' %}?status__exact=in_progress">Tickets in progress</a>
      <a class="button" href="{% url 'admin:freelancers_freelancer_changelist' %}?is_available__exact=1">Available freelancers</a>
      <a class="button" href="{% url 'admin:freelancers_freelancer_changelist' %}?is_profile_verified__exact=1">Verified freelancers</a>
    </div>
  </div>

  {{ block.super }}
{% endblock %}
